.button {
    font: inherit;
    border: 1px solid #FF008A;
    background: #FF008A;
    color: white;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 1rem
}

.button:hover,
.button:active {
    background: #f16fb4;
    border-color: #f16fb4;
}

.button:focus {
    outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
}