.search-cont {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.search-box {
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.search-box__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0 0.5rem
}

.search-box__titulo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.search-box__titulo-material {
    /* font-size: 1.75rem; */
    font-weight: 500;
}

.search-box__titulo-macro {
    /* font-size: 1.2rem; */
    font-weight: 200;
    /* margin: .55rem 0 0 .75rem; */
    margin: auto
}

.search-box__img {
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: auto 0.5rem;
}


/* .search-results {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 20%;
} */

.search-input {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1rem;
}

.search-bar input {
    font: inherit;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-bar input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}