.secondOption{
  text-align: center;
  margin-top: 3rem;
}

.loginButton{
  font: inherit;
  border: 1px solid #FF008A;
  background: #FF008A;
  color: white;
  text-decoration: none;
  padding: 0.2rem 1rem;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 auto;
}